.searchInput {
	--padding: 0.65rem 0.75rem;
	--border-radius: 0.6rem;
	--font-weight: 400;
	--font-size: 0.875rem;
	--line-height: 1;
	--border-radius: 14px;
	@media (max-width: 400px) {
		--border-radius: 10px;
		--padding: 0.5rem 0.65rem;
		--font-size: 0.75rem;
	}
	@media (max-width: 350px) {
		--padding: 0.4rem 0.5rem;
	}
}

.productList {
	position: absolute;
	top: 120%;
	left: 0;
	width: 100%;
	padding: 0.5rem 0;
	border-radius: 0.8rem;
	background: var(--white);
	box-shadow: 0 8px 32px 0 rgba(60, 60, 60, 0.1);
	border: 1px solid #ccc;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	max-height: 22rem;
	overflow-y: auto;
	@media (max-width: 992px) {
		padding: 0.3rem 0;
		max-width: calc(100% - 32px);
		left: 16px;
	}
	@media (max-width: 350px) {
		left: 10px;
		max-width: calc(100% - 20px);
	}
}

.productItem {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	padding: 0.75rem 1rem;
	cursor: pointer;
	position: relative;
	font-family: var(--inter);
	font-weight: 400;
	color: var(--text);
	svg {
		font-size: 1.2rem;
		color: var(--text);
	}
	&:hover {
		background-color: #f8f8f8;
	}
	@media (max-width: 992px) {
		padding: 0.5rem 0.75rem;
		font-size: 0.8rem;
		svg {
			font-size: 1rem;
		}
	}
}
