.main {
	--main-margin-bottom: 6.25rem;
	--header-gap: 2rem;
	--header-margin-bottom: 2rem;
	--logo-size: 6rem;
	--logo-text-size: 0.875rem;
	--form-field-max-width: 20rem;
	--form-field-padding: 0.8rem 1rem;
	--button-padding: 0.8rem 1.4rem;
	--button-font-size: 0.9rem;
	--danger-margin-top: 3rem;
	--danger-padding-top: 2rem;
	--danger-title-size: 1.25rem;
	--danger-title-margin: 1.5rem;

	margin-bottom: var(--main-margin-bottom);
}

@media (max-width: 75em) {
	// 1200px
	.main {
		--main-margin-bottom: 5rem;
		--header-gap: 1.75rem;
	}
}

@media (max-width: 62em) {
	// 992px
	.main {
		--main-margin-bottom: 4rem;
		--header-margin-bottom: 1.75rem;
		--logo-size: 6rem;
	}
}

@media (max-width: 48em) {
	// 768px
	.main {
		--main-margin-bottom: 3.5rem;
		--header-gap: 1.5rem;
		--header-margin-bottom: 1.5rem;
		--logo-size: 5rem;
		--danger-margin-top: 2.5rem;
		--danger-padding-top: 1.75rem;
		--button-padding: 0.525rem 1.15rem;
		--button-font-size: 0.85rem;
		--form-field-padding: 0.8125rem 1.125rem;

		.container .header {
			flex-direction: column;

			.logo {
				align-self: flex-start;
			}

			.formField {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 36em) {
	// 576px
	.main {
		--main-margin-bottom: 3rem;
		--header-gap: 1.25rem;
		--header-margin-bottom: 1.25rem;
		--logo-size: 4rem;
		--logo-text-size: 0.8125rem;
		--danger-title-size: 1.125rem;
		--button-padding: 0.5rem 1rem;
		--button-font-size: 0.8rem;
		--form-field-padding: 0.6rem 1rem;
	}
}

@media (max-width: 30em) {
	// 480px
	.main {
		--main-margin-bottom: 2.5rem;
		--header-gap: 1rem;
		--logo-size: 3rem;
		--danger-margin-top: 2rem;
		--danger-padding-top: 1.5rem;
		--form-field-padding: 0.4875rem 0.875rem;
	}
}
