.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 3rem;
	@media (max-width: 600px) {
		padding: 1.5rem;
		gap: 1rem;
	}
	@media (max-width: 480px) {
		padding: 1rem;
		gap: 0.5rem;
	}

	.icon {
		color: var(--color-primary);
		width: 4rem;
		height: 4rem;
		@media (max-width: 899px) {
			width: 5rem;
			height: 5rem;
		}
		@media (max-width: 480px) {
			width: 3rem;
			height: 3rem;
		}
	}

	.content {
		padding: 2rem;
		padding-top: 0;
		text-align: center;
		@media (max-width: 600px) {
			padding: 1rem;
		}
		@media (max-width: 480px) {
			padding: 0.5rem;
		}

		h2 {
			font-size: 2rem;
			font-weight: 700;
			color: var(--color-text-primary);
			margin-bottom: 1.5rem;
			line-height: 1.2;
			@media (max-width: 899px) {
				margin-bottom: 0.7rem;
			}
			@media (max-width: 480px) {
				margin-bottom: 0.5rem;
				font-size: 1.5rem;
			}
		}

		p {
			font-size: 1.1rem;
			color: var(--color-text-secondary);
			line-height: 1.8;
			margin-bottom: 1.5rem;
			@media (max-width: 480px) {
				margin-bottom: 0.5rem;
				font-size: 1rem;
			}
		}
	}
}
