.deleteProducts {
	display: flex;
	flex-direction: column;
	gap: 36px;
	margin-top: 18px;
	overflow-y: auto;
	padding-bottom: 25px;
	max-height: 70vh;

	.deleteButton {
		--padding: 7px 7px;
		--font-weight: 500;
		--font-size: 14px;
		--line-height: 100%;
		--border-radius: 8px;
		max-width: max-content;
		background: var(--secondary);
		&:hover {
			background: var(--secondary-hover);
		}
	}
	.extra {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		span {
			text-wrap: nowrap;
			font-weight: 300;
			font-size: 1rem;
			line-height: 1;
			color: #a2a2a2;
			margin-bottom: 0.4375rem;
		}
	}
}
