version: '3.9'

services:
  frontend:
    build: 
      context: ./apps/frontend
    container_name: halal_market_frontend
    ports:
      - '3000:3000'

  backend:
    build:
      context: ./apps/backend
    container_name: halal_market_backend
    depends_on:
      - postgres
      - redis
      - celery
    volumes:
      - .:/app
      - static_volume:/app/static
      - ./vapid_keys:/app/vapid_keys
      - media_volume:/app/media
    restart: unless-stopped

  celery:
    build:
      context: ./apps/backend
    command: poetry run celery -A config worker --loglevel=info
    container_name: halal_market_celery
    depends_on:
      - redis
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
    container_name: halal_market_postgres
    # !PORTS
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: halal_market_redis
    command: redis-server /usr/local/etc/redis/redis.conf
    # !PORTS
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    container_name: halal_market_nginx
    ports:
      - '8000:8000'
    volumes:
      - ./nginx/nginx.docker.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
  vapid_keys_volume:
