services:
  frontend:
    build:
      context: ./apps/frontend
      args:
        NEXT_PUBLIC_APP_URL: ${CLIENT_URL}
        NEXT_PUBLIC_API_URL: ${API_URL}
        NEXT_PUBLIC_VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}
    container_name: halal_market_frontend
    depends_on:
      - backend
    ports:
      - '3000:3000'

  backend:
    build:
      context: ./apps/backend
    container_name: halal_market_backend
    entrypoint: /entrypoint.sh
    command: ['make', '-f', 'Makefile.docker', 'runserver_u']
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./apps/backend:/app
      - ./data/static:/app/staticfiles
      - ./data/media:/app/media

  celery:
    image: halalmarket-backend
    command: ['make', '-f', 'Makefile.docker', 'celeryrun']
    container_name: halal_market_celery
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

  postgres:
    image: postgres:17-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    container_name: halal_market_postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./data/pg_backups:/root/backups

  redis:
    image: redis:7
    container_name: halal_market_redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']

  image-server:
    build:
      context: ./apps/image-server
    container_name: halal_market_image_server
    ports:
      - '3030:3030'
    volumes:
      - ./data/media:/app/media
      - ./data/cache:/app/cache
    environment:
      - MEDIA_DIR=/app/media
      - CACHE_DIR=/app/cache
    depends_on:
      - backend

  nginx:
    image: nginx:stable-alpine
    container_name: halal_market_nginx
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.docker.conf:/etc/nginx/conf.d/default.conf
      - ./data/static:/app/staticfiles:ro
      - ./data/media:/app/media:ro
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  redis_data:
