.imageContainer {
	height: 12.5rem;
	margin-bottom: 0.75rem;
	position: relative;
	width: 100%;
	background-color: var(--white);

	@media (max-width: 62em) {
		// 992px
		height: 11rem;
	}

	@media (max-width: 48em) {
		// 768px
		height: 10rem;
	}

	@media (max-width: 36em) {
		// 576px
		height: 8rem;
	}

	@media (max-width: 30em) {
		// 480px
		height: 7rem;
	}

	@media (max-width: 24em) {
		// 384px
		height: 6.5rem;
	}

	@media (max-width: 22.5em) {
		// 360px
		height: 6rem;
	}

	@media (max-width: 21.25em) {
		// 340px
		height: 5.5rem;
	}

	@media (max-width: 20em) {
		// 320px
		height: 5rem;
	}
}

.h {
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		.scrollButton {
			opacity: 1;
			pointer-events: auto;
		}
	}

	@media (hover: none) {
		.scrollButton {
			opacity: 1;
			pointer-events: all;
		}
	}
}

.scrollButton {
	position: absolute;
	top: 50%;
	z-index: 50;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 18px;
	cursor: pointer;
	padding: 5px;
	border-radius: 8px;
	user-select: none;
	transition: all 0.25s;
	pointer-events: none;
	opacity: 0;

	&:hover {
		background: rgba(0, 0, 0, 0.5);
	}

	&.left {
		left: 10px;
	}

	&.right {
		right: 10px;
	}

	@media (max-width: 31.25rem) {
		// 500px
		font-size: 16px;
		padding: 4px;
	}

	@media (max-width: 20em) {
		// 320px
		font-size: 14px;
		padding: 3px;
	}
}

.productImage {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	scroll-snap-align: start;
}
