.main {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 1.4rem;
  &:has([data-checked='true']) [data-checkbox] {
    border-color: #9e9e9e;
  }
}

.tableContainer {
  flex: 1;
}

.rowValue {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: #121619;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  max-width: 5rem;
}

.sellerInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .sellerCol {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .sellerPhoto {
    max-width: 2.5rem;
    min-width: 2.5rem;
    max-height: 2.5rem;
    min-height: 2.5rem;
    border: 0.125rem solid #cbd5e1;
    border-radius: 100%;
    object-fit: cover;
    --placeholder-color: var(--text);
  }

  .sellerName {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 110.00000000000001%;
    color: #21272a;
  }

  .sellerRole {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 140%;
    color: #697077;
  }
}

.actionsCell {
  font-size: 1.25rem;
  color: #697077;
}

.actionCell {
  font-weight: 400;
  font-size: 1em;
  line-height: 140%;
}

.paginationContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
