.policyPage {
	padding: 2.5rem 0;
	margin-bottom: 10rem;

	.closeButton {
		margin-bottom: 1.2rem;
		font-size: 1.4rem;
		gap: 0.5rem;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.container {
		width: 100%;
	}

	.title {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 100%;
		color: #2c2c2c;
	}

	.divider {
		margin: 2.5625rem 0;
		width: 100%;
		height: 0.0625rem;
		background: #cae2e4;
	}

	.subtitle {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 100%;
		color: var(--secondary);
		margin: 1.5rem 0 1rem;
	}

	.section {
		margin-bottom: 2.5rem;
	}

	.list {
		list-style-type: disc;
		padding-left: 2.25rem;

		li {
			margin-bottom: 1rem;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 161%;
			color: #373737;
		}
	}
}
