.categories {
	padding: 2.5rem 0;
	@media (max-width: 899px) {
		padding: 1.25rem 0;
	}
	@media (max-width: 550px) {
		padding: 0.75rem 0;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
		display: block;
		@media (max-width: 899px) {
			display: none;
		}
	}

	.title {
		font-size: 1.5rem;
		font-weight: 600;
		color: var(--text);
	}

	.list {
		display: flex;
		align-items: center;
		overflow-x: auto;
		gap: 3rem;
		&::-webkit-scrollbar {
			width: 0;
		}
		@media (max-width: 899px) {
			gap: 7px;
		}
		@media (max-width: 400px) {
			gap: 5px;
		}
	}

	.category {
		position: relative;
		border-radius: 0.75rem;
		overflow: hidden;
		aspect-ratio: 1 / 1;
		text-decoration: none;
		transition: transform 0.3s ease;
		min-width: 9.875rem;
		max-width: 9.875rem;
		height: 9.125rem;
		border-radius: 0.875rem;
		border: 1px solid #dadada;
		color: var(--white);

		.view1 {
			display: block;
			@media (max-width: 899px) {
				display: none;
			}
		}

		&.allc {
			@media (min-width: 899px) {
				display: none;
			}
		}

		.view2 {
			display: none;
			@media (max-width: 899px) {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}

		@media (max-width: 899px) {
			color: var(--text);
			min-width: max-content;
			max-width: max-content;
			height: 45px;
			aspect-ratio: auto;
			padding: 10px 14px;
			border-radius: 14px;
			border-color: #a2a2a2;
			display: flex;
			align-items: center;
			gap: 8px;
			svg {
				min-width: 1.2rem;
				max-width: 1.2rem;
				height: 1.2rem;
			}
		}

		@media (max-width: 400px) {
			height: 35px;
			gap: 4px;
			border-radius: 10px;
			padding: 8px 12px;
			svg {
				min-width: 1rem;
				max-width: 1rem;
				height: 1rem;
			}
		}
		@media (max-width: 350px) {
			height: 30px;
			border-radius: 8px;
			padding: 4px 8px;
			svg {
				min-width: 0.9rem;
				max-width: 0.9rem;
				height: 0.9rem;
			}
		}

		&:hover {
			.overlay {
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	.imageWrapper {
		width: 100%;
		height: 100%;
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.3);
		transition: background-color 0.3s ease;
	}

	.name {
		font-size: 1rem;
		font-weight: 500;
		display: block;
		text-align: center;
		@media (max-width: 899px) {
			font-weight: 500;
			font-size: 0.8rem;
			letter-spacing: 0.5px;
		}
		@media (max-width: 400px) {
			font-size: 0.6rem;
		}
		@media (max-width: 350px) {
			font-size: 0.5rem;
		}
	}
}
