.ordersPage {
	--container-padding: 1rem 0;
	--title-font-size: 2rem;
	--margin-bottom: 1.5rem;
	--list-gap: 1rem;

	padding: var(--container-padding);
	margin-bottom: 10rem;

	.container {
		width: 100%;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: var(--margin-bottom);
		flex-wrap: wrap;
		gap: 1rem;

		.title {
			font-weight: 500;
			font-size: var(--title-font-size);
			line-height: 1.2;
			color: var(--primary);
		}
	}

	.content {
		width: 100%;
	}

	.listContainer {
		display: flex;
		flex-direction: column;
		gap: var(--list-gap);
	}

	.pagination {
		margin-top: 2rem;
	}
}

@media (max-width: 75em) {
	// 1200px
	.ordersPage {
		--title-font-size: 1.75rem;
	}
}

@media (max-width: 62em) {
	// 992px
	.ordersPage {
		--title-font-size: 1.5rem;
		--margin-bottom: 1.25rem;
	}
}

@media (max-width: 48em) {
	// 768px
	.ordersPage {
		--title-font-size: 1.375rem;
		--list-gap: 0.875rem;
		--container-padding: 0;
		margin-bottom: 8rem;

		.col {
			flex-direction: column;
			align-items: flex-start;
		}
		.header {
			flex-direction: column;
			align-items: flex-start;
			gap: 0.75rem;
		}
	}
}

@media (max-width: 30em) {
	// 480px
	.ordersPage {
		--title-font-size: 1.25rem;
		--margin-bottom: 1rem;
		--list-gap: 0.75rem;
	}
}

@media (max-width: 25em) {
	// 400px
	.ordersPage {
		--title-font-size: 1.125rem;
		--margin-bottom: 0.875rem;
		--list-gap: 0.675rem;
	}
}

@media (max-width: 23.75em) {
	// 380px
	.ordersPage {
		--title-font-size: 1.0625rem;
		--margin-bottom: 0.825rem;
		--list-gap: 0.625rem;
	}
}

@media (max-width: 22.5em) {
	// 360px
	.ordersPage {
		--title-font-size: 1rem;
		--margin-bottom: 0.775rem;
		--list-gap: 0.575rem;
	}
}

@media (max-width: 21.25em) {
	// 340px
	.ordersPage {
		--title-font-size: 0.9375rem;
		--margin-bottom: 0.725rem;
		--list-gap: 0.525rem;
	}
}

@media (max-width: 20em) {
	// 320px
	.ordersPage {
		--title-font-size: 0.875rem;
		--margin-bottom: 0.675rem;
		--list-gap: 0.5rem;
	}
}
