.env
.env.*
!.env.example

__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache
.mypy_cache

venv
.venv

*.sqlite3
staticfiles
media

*.log

.DS_Store
.idea
.vscode

.git
.gitignore

Dockerfile
docker-compose*.yml
