.productItem {
	--padding: 1.25rem;
	--padding-bottom: 2.9rem;
	--border-color: #dedede;
	--gap: 1.25rem;
	--image-size: 10.375rem;
	--image-padding: 0.625rem;
	--image-margin: 1.25rem;
	--border-radius: 0.875rem;
	--name-size: 1.825rem;
	--price-size: 1.625rem;
	--info-size: 1rem;
	--char-title-size: 1.25rem;
	--char-text-size: 1.125rem;
	--char-line-height: 1.4;

	display: flex;
	flex-direction: column;
	padding: var(--padding);
	border-bottom: 0.0625rem solid var(--border-color);
	padding-bottom: var(--padding-bottom);

	.header {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.9375rem;

		@media (min-width: 48em) {
			flex-direction: row;
		}
	}

	.productInfo {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		flex: 1;

		@media (min-width: 48em) {
			flex-direction: row;
		}
	}

	.productImage {
		width: 100%;
		height: auto;
		aspect-ratio: 1;
		padding: var(--image-padding);
		margin-right: 0;
		margin-bottom: 1rem;
		border-radius: var(--border-radius);
		border: 0.0625rem solid #cccccc;

		@media (min-width: 48em) {
			width: var(--image-size);
			height: 11.25rem;
			margin-right: var(--image-margin);
			margin-bottom: 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.3125rem;
		}
	}

	.actions {
		display: flex;
		gap: 0.625rem;
		margin-top: 1.5rem;
		flex-wrap: wrap;

		@media (min-width: 48em) {
			margin-top: 2.25rem;
		}

		.actionButton {
			--border-radius: 0.5rem;

			&.edit {
				svg {
					margin-right: 0.5rem;
				}

				--padding: 0.5rem 1rem;
				--font-weight: 500;
				--font-size: 0.875rem;
				--line-height: 100%;

				@media (min-width: 36em) {
					--padding: 0.625rem 1.5rem;
				}
			}

			&.delete {
				--padding: 0.5rem;

				@media (min-width: 36em) {
					--padding: 0.5rem 0.625rem;
				}
			}
		}
	}

	.col {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		@media (min-width: 36em) {
			justify-content: space-between;
			gap: 0.5rem;
		}
	}

	.productDetails {
		flex: 1;
	}

	.productName {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.2;
		color: var(--primary);
		margin-bottom: 0.3rem;

		@media (min-width: 36em) {
			font-size: var(--name-size);
			line-height: 100%;
			margin-bottom: 0;
		}
	}

	.productPrice {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.2;
		font-weight: 600;

		@media (min-width: 36em) {
			font-size: var(--price-size);
			line-height: 100%;
		}

		span:nth-child(1) {
			color: var(--secondary);
		}
		span:nth-child(2) {
			font-size: 1.3rem;
			font-weight: 500;
			color: var(--text);
		}
	}

	.infoRow {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
		margin-bottom: 0.5rem;

		* {
			font-weight: 400;
			font-size: 0.9375rem;
			line-height: 1.2;

			@media (min-width: 36em) {
				font-size: var(--info-size);
				line-height: 100%;
			}
		}

		.infoValue {
			text-overflow: ellipsis;
			max-width: 800px;
			white-space: nowrap;
			overflow: hidden;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.infoLabel {
		color: #868889;
	}

	.infoValue {
		color: var(--primary);
	}

	.description {
		margin-top: 1rem;

		@media (min-width: 36em) {
			margin-top: 0.625rem;
		}
	}

	.descriptionTitle {
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 1.2;
		color: #424242;
		margin-bottom: 0.5rem;

		@media (min-width: 36em) {
			font-size: var(--char-title-size);
			line-height: 100%;
			margin-bottom: 0.5625rem;
		}
	}

	.toggleDescription {
		display: inline-block;
		background: none;
		border: none;
		color: var(--primary);
		cursor: pointer;
		font-size: 14px;
		font-weight: 500;
		padding: 0;
	}

	.toggleDescription:hover {
		text-decoration: underline;
	}

	.descriptionList {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.3;
		letter-spacing: 0%;
		color: #868889;

		@media (min-width: 36em) {
			font-size: var(--char-text-size);
			line-height: var(--char-line-height);
		}
	}
}

@media (max-width: 62em) {
	// 992px
	.productItem {
		--image-size: 9rem;
		--name-size: 1.875rem;
		--price-size: 1.875rem;
		--char-title-size: 1.125rem;
		--char-text-size: 1rem;
	}
}

@media (max-width: 48em) {
	// 768px
	.productItem {
		--padding: 1rem;
		--padding-bottom: 2rem;
		--gap: 1rem;
		--image-margin: 1.5rem;
		--name-size: 1.75rem;
		--price-size: 1.75rem;
	}
}

@media (max-width: 36em) {
	// 576px
	.productItem {
		--padding: 0.875rem;
		--padding-bottom: 1.75rem;
		--gap: 0.875rem;
		--image-padding: 0.5rem;
		--image-margin: 1.25rem;
		--name-size: 1.5rem;
		--price-size: 1.5rem;
		--char-title-size: 1.125rem;
	}
}

@media (max-width: 30em) {
	// 480px
	.productItem {
		--padding: 0.75rem;
		--padding-bottom: 1.5rem;
		--gap: 0.75rem;
		--image-padding: 0.375rem;
		--image-margin: 1rem;
		--name-size: 1.375rem;
		--price-size: 1.375rem;
		--char-title-size: 1.125rem;
		--char-text-size: 0.9375rem;
	}
}
