.header {
	width: 100%;
	.container {
		width: 100%;
		padding: 1.5rem;
		border-bottom: 0.06rem solid #dde1e6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h4 {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 110.00000000000001%;
		}
		button {
			font-weight: 400;
			font-size: 1rem;
			line-height: 100%;
			letter-spacing: 0.5px;
			padding: 0.25em;
			color: var(--primary);
		}
	}
}
