.reviewItem {
	--ri__margin-bottom: 1.4rem;
	--ri__padding: 1.25rem 1.55rem;
	--ri__border-radius: 0.875rem;
	--ri__box-shadow: 0 0 0.825rem 0 rgba(0, 0, 0, 0.08);
	--ri__star-size: 2rem;
	--ri__reviewer-avatar-size: 2.5rem;
	--ri__reviewer-name-size: 0.875rem;
	--ri__review-text-size: 0.875rem;
	--ri__review-image-size: 6.25rem;
	--ri__reviewer-avatar-margin: 1rem;
	--ri__review-text-margin: 1.5rem;

	margin-bottom: var(--ri__margin-bottom);
	padding: var(--ri__padding);
	border-radius: var(--ri__border-radius);
	box-shadow: var(--ri__box-shadow);
	position: relative;
	@media (max-width: 899px) {
		box-shadow: none;
		border: 1px solid #cccccc;
	}
	.star {
		color: #ccc;
		font-size: var(--ri__star-size);
		transition: color 0.2s;
		&.activeStar {
			color: var(--color-1);
		}
	}

	.reviewHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}

	.reviewerInfo {
		display: flex;
		align-items: center;
	}

	.reviewerInfoText {
		display: flex;
		flex-direction: column;
		gap: 0.35rem;
	}

	.reviewerAvatar {
		width: var(--ri__reviewer-avatar-size);
		height: var(--ri__reviewer-avatar-size);
		border-radius: 50%;
		margin-right: var(--ri__reviewer-avatar-margin);
		object-fit: cover;
		border: 0.125rem solid #cbd5e1;
		--placeholder-color: var(--text);
		&[data-nosrc] {
			--font-size: 1.2rem;
			width: calc(var(--ri__reviewer-avatar-size) * 0.87);
			height: calc(var(--ri__reviewer-avatar-size) * 0.87);
		}
	}

	.reviewerName {
		font-weight: 400;
		font-size: var(--ri__reviewer-name-size);
		line-height: 1;
		color: var(--primary);
	}

	.reviewRating {
		display: flex;
	}

	.reviewText {
		font-weight: 400;
		font-size: var(--ri__review-text-size);
		line-height: 1.4;
		color: #4c4c4c;
		&.mb {
			margin-bottom: var(--ri__review-text-margin);
		}
	}

	.reviewImages {
		display: flex;
		gap: 0.75rem;
		margin-bottom: 1rem;
		@media (max-width: 550px) {
			margin-bottom: 0.5rem;
		}
	}

	.reviewImage {
		width: var(--ri__review-image-size);
		height: var(--ri__review-image-size);
		border-radius: 0.4rem;
		border: 1.5px solid #ccc;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.sellerResponse {
	--seller-padding: 1.5rem 1.75rem;
	--seller-title-size: 1rem;
	--seller-text-margin: 0.75rem;

	margin-top: 1rem;
	border-top: 1px solid #cccccc;
	padding-top: .5rem;
	@media (max-width: 899px) {
		box-shadow: none;
	}
	.sellerResponseTitle,
	.sellerResponseText {
		font-weight: 500;
		font-size: var(--seller-title-size);
		line-height: 1.3;
		color: #4c4c4c;
	}

	.sellerResponseText {
		font-weight: 400;
		margin-top: var(--seller-text-margin);
	}
}

@media (max-width: 75em) {
	// 1200px
	.reviewItem {
		--ri__padding: 1.25rem 1.5rem;
		--ri__reviewer-avatar-size: 2.8rem;
	}
}

@media (max-width: 62em) {
	// 992px
	.reviewItem {
		--ri__padding: 1.25rem 1.25rem;
		--ri__star-size: 1.8rem;
		--ri__reviewer-avatar-size: 2.6rem;
		--ri__review-text-size: 0.85rem;
	}

	.sellerResponse {
		--seller-padding: 1.25rem 1.5rem;
		--seller-title-size: 1.15rem;
	}
}

@media (max-width: 48em) {
	// 768px
	.reviewItem {
		--ri__padding: 1rem 1.25rem;
		--ri__reviewer-avatar-size: 2.4rem;
		--ri__reviewer-avatar-margin: 0.8rem;
		--ri__reviewer-name-size: 0.85rem;
		--ri__review-text-margin: 1.25rem;
		--ri__star-size: 1.2rem;
	}

	.sellerResponse {
		--seller-padding: 1.15rem 1.25rem;
		--seller-title-size: 1.1rem;
		--seller-text-margin: 0.625rem;
	}
}

@media (max-width: 36em) {
	// 576px
	.reviewItem {
		--ri__padding: 1rem;
		--ri__border-radius: 0.75rem;
		--ri__reviewer-avatar-size: 2rem;
		--ri__reviewer-name-size: 0.7rem;
		--ri__review-text-size: 0.8rem;
		--ri__review-image-size: 5rem;

		.reviewImages {
			flex-wrap: wrap;
		}
	}

	.sellerResponse {
		--seller-padding: 1rem 1.15rem;
		--seller-title-size: 1rem;
	}
}

@media (max-width: 30em) {
	// 480px
	.reviewItem {
		--ri__padding: 0.5rem;
		--ri__border-radius: 0.7rem;
		--ri__reviewer-avatar-size: 1.8rem;
		--ri__reviewer-avatar-margin: 0.4rem;
		--ri__reviewer-name-size: 0.7rem;
		--ri__review-text-size: 0.8rem;
		--ri__review-text-margin: 0.5rem;
		--ri__review-image-size: 3rem;
	}

	.sellerResponse {
		--seller-padding: 0.6rem;
		--seller-title-size: 0.8rem;
		--seller-text-margin: 0.4rem;
	}
}
