.header {
	--margin-bottom: 1.875rem;
	--h4-font-size: 1rem;
	--title-font-size: 1.5rem;
	--title-margin-right: 0.8125rem;

	margin-bottom: var(--margin-bottom);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	&.column {
		align-items: flex-start;
		flex-direction: column;
	}

	h4 {
		font-weight: 400;
		font-size: var(--h4-font-size);
		line-height: 1;
		color: #c4c4c4;

		span {
			color: var(--secondary);
		}
	}

	.title {
		display: flex;
		align-items: center;
		color: #868889;

		h2 {
			margin-right: var(--title-margin-right);
		}

		h2,
		span {
			font-weight: 400;
			font-size: var(--title-font-size);
			line-height: 1;
		}

		span {
			color: var(--primary);
		}
	}
}

@media (max-width: 75em) {
	// 1200px
	.header {
		--margin-bottom: 1.75rem;
	}
}

@media (max-width: 62em) {
	// 992px
	.header {
		--margin-bottom: 1.5rem;
		--title-font-size: 1.375rem;
	}
}

@media (max-width: 48em) {
	// 768px
	.header {
		--margin-bottom: 1.25rem;
		--h4-font-size: 0.9375rem;
		--title-font-size: 1.25rem;
		--title-margin-right: 0.75rem;
	}
}

@media (max-width: 36em) {
	// 576px
	.header {
		--margin-bottom: 1rem;
		--h4-font-size: 0.875rem;
		--title-font-size: 1.125rem;
		--title-margin-right: 0.5rem;
	}
}

@media (max-width: 30em) {
	// 480px
	.header {
		--margin-bottom: 0.875rem;
		--title-font-size: 1rem;
	}
}
