.reviewSection {
	--title-font-size: 1.5rem;
	--title-line-height: 1.25rem;
	--star-size: 2rem;
	--comment-min-height: 12rem;
	--comment-max-height: 12rem;
	--comment-padding: 1rem;
	--comment-margin-bottom: 1rem;
	--photo-button-padding: 1.25rem 1.9375rem;
	--photo-button-gap: 2.25rem;
	--photo-preview-size: 4.5625rem;
	--photo-preview-height: 5.1875rem;
	--bottom-gap: 1rem;

	display: flex;
	flex-direction: column;
	position: relative;

	.error {
		font-size: calc(0.875rem * 0.95);
		color: var(--secondary);
		font-weight: 600;
	}

	.disabled {
		pointer-events: none;
		user-select: none;
	}

	.reviewWrapper {
		margin-bottom: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		.flex {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	}

	.reviewTitle {
		font-weight: 500;
		font-size: var(--title-font-size);
		line-height: var(--title-line-height);
		color: #868889;
	}

	.ratingStars {
		display: flex;
	}

	.star {
		color: #a2a2a2;
		font-size: var(--star-size);
		cursor: pointer;
		transition: color 0.2s;
	}

	.activeStar {
		color: var(--color-1);
	}

	.commentForm {
		width: 100%;
	}

	.cmFormTop {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.25rem;
		width: 100%;
		min-height: var(--comment-min-height);
		max-height: var(--comment-max-height);
		margin-bottom: 1.5rem;

		@media (min-width: 48em) {
			flex-direction: row;
			gap: 1.75rem;
		}

		@media (max-width: 500px) {
			margin-bottom: 0.75rem;
			gap: 0.5rem;
		}
	}

	.commentInput {
		width: 100%;
		min-height: var(--comment-min-height);
		max-height: var(--comment-max-height);
		font-size: 1rem;
		padding: var(--comment-padding);
		border: 1px solid #cccccc;
		border-radius: 0.875rem;
		margin-bottom: var(--comment-margin-bottom);
		font-family: inherit;
		resize: none;

		&.error {
			border-color: var(--secondary);
			&::placeholder {
				color: var(--secondary);
			}
		}

		&::placeholder {
			color: #a2a2a2;
		}

		&:focus {
			border-color: var(--primary);
		}
		@media (max-width: 500px) {
			border-radius: 0.6rem;
			min-height: 9rem;
			max-height: 9rem;
			font-size: 0.75rem;
		}
	}

	.uploadPhotoSection {
		width: 100%;
		margin-bottom: 1.25rem;

		@media (min-width: 48em) {
			min-width: 400px;
			max-width: 400px;
		}

		@media (max-width: 500px) {
			margin-bottom: 0.75rem;
		}
	}

	.uploadPhotoButton {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--photo-button-padding);
		background-color: #f6f6f6;
		border-radius: 1rem;
		margin-bottom: 1rem;
		width: 100%;
		gap: var(--photo-button-gap);
		cursor: pointer;

		span {
			color: #8d8d8d;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.25rem;

			@media (max-width: 36em) {
				font-size: 0.7rem;
			}
		}

		&:hover {
			background-color: #f1f1f1;
		}
		@media (max-width: 500px) {
			border-radius: 0.6rem;
			img {
				width: 1rem;
			}
		}
		@media (max-width: 440px) {
			img {
				width: 0.75rem;
			}
		}
	}

	.cameraIcon {
		color: var(--primary);
	}

	.deletePhotoButton {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--secondary);
		font-size: 1.2rem;
		padding: 0.25rem;
		border-radius: 0.4rem;
		opacity: 0;
		z-index: 10;
		transition: background-color 0.2s;

		@media (max-width: 36em) {
			font-size: 1rem;
		}
		@media (max-width: 899px) {
			opacity: 1;
		}
	}

	.photoPreview {
		position: relative;
		&.there {
			border: 2px solid #ccc;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				z-index: 1;
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.7);
			}

			&:hover {
				&::before {
					opacity: 1;
				}

				.deletePhotoButton {
					opacity: 1;
				}
			}
		}
	}

	.photoPreviewContainer {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		@media (min-width: 36em) {
			gap: 0.375rem;
		}
	}

	.photoPreview {
		max-width: var(--photo-preview-size);
		max-height: var(--photo-preview-height);
		min-width: var(--photo-preview-size);
		min-height: var(--photo-preview-height);
		border-radius: 0.25rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (max-width: 36em) {
			/* 576px */
			--photo-preview-size: 3.5rem;
			--photo-preview-height: 4rem;
		}
		@media (max-width: 440px) {
			--photo-preview-size: 3rem;
			--photo-preview-height: 3.5rem;
		}
		@media (max-width: 340px) {
			--photo-preview-size: 2.5rem;
			--photo-preview-height: 3rem;
		}
	}

	.bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--bottom-gap);

		@media (min-width: 36em) {
			flex-direction: row;
			align-items: center;
		}

		.submitButton {
			--padding: 0.625rem 1.5rem;
			--border-radius: 0.875rem;
			--font-size: 1rem;
			--font-weight: 500;

			@media (max-width: 36em) {
				width: 100%;
				--font-size: 0.875rem;
			}
		}
	}
	.unauthorized {
		margin-top: 1rem;
		padding: 0 0.25rem;
		font-size: 0.875rem;
		@media (max-width: 36em) {
			font-size: 0.8125rem;
		}
		a {
			margin-left: 0.25rem;
			text-decoration: underline;
		}
		p {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	}
}

@media (max-width: 62em) {
	// 992px
	.reviewSection {
		--title-font-size: 1.375rem;
		--star-size: 1.875rem;
	}
}

@media (max-width: 48em) {
	// 768px
	.reviewSection {
		--title-font-size: 1.25rem;
		--star-size: 1.75rem;
		--comment-min-height: auto;
		--comment-max-height: auto;
		--photo-button-padding: 1rem 1.25rem;
	}
}

@media (max-width: 36em) {
	// 576px
	.reviewSection {
		--title-font-size: 1.125rem;
		--star-size: 1.5rem;
		--comment-padding: 0.75rem;
		--comment-margin-bottom: 0.875rem;
		--photo-button-padding: 0.875rem 1rem;
		--photo-button-gap: 1.5rem;
		--bottom-gap: 0.875rem;

		.reviewWrapper {
			margin-bottom: 1.25rem;
		}

		.cmFormTop {
			margin-bottom: 1.25rem;
		}
	}
}

@media (max-width: 30em) {
	// 480px
	.reviewSection {
		--title-font-size: 1rem;
		--comment-padding: 0.625rem;
		--photo-button-padding: 0.5rem 0.75rem;
		--photo-button-gap: 1rem;

		.uploadPhotoButton {
			span {
				font-size: 0.75rem;
			}
		}

		.photoPreviewContainer {
			justify-content: center;
		}

		.cmFormTop {
			margin-bottom: 0rem;
		}

		.bottom {
			width: 100%;

			.submitButton {
				--padding: 0.5rem 1rem;
			}
		}
		.unauthorized {
			margin-top: 0.5rem;
			p {
				font-size: 0.8125rem;
			}
		}
	}
}
