.container {
	width: max-content;

	* {
		font-family: var(--inter);
	}

	.dateRangeContainer {
		position: relative;
	}

	.dateRangeSelector {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--white);
		border-radius: 16px;
		overflow: hidden;
		border: 1px solid #e5e7eb;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.datePicker {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.75rem 1rem;
		flex: 1;
		gap: 18px;
		cursor: pointer;
	}

	.datePicker:hover {
		background-color: #f9fafb;
	}

	.dateText {
		text-wrap: nowrap;
		color: #4b5563;
		font-size: 0.8rem;
		font-weight: 500;
	}

	.datePickerLabel {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.75rem 1rem;
		cursor: pointer;
		flex: 1;
	}

	.nativeDateInput {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	.arrowButton {
		background-color: var(--primary);
		width: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		color: var(--white);
	}

	.calendarDropdown {
		position: absolute;
		top: 100%;
		margin-top: 0.5rem;
		background-color: var(--white);
		border-radius: 0.5rem;
		box-shadow: 0px 0.1rem 0.1rem 0px #0000001d,
			0px 0.2rem 0.5rem 0.2rem #0000001d;
		padding: 0.8rem;
		z-index: 10;
		width: 18rem;
	}

	.calendarDropdown.left {
		left: 0;
	}

	.calendarDropdown.right {
		right: 0;
	}
}
