.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
  }
}

.placeholder {
  text-decoration: none;
  color: var(--placeholder-color, var(--white));
  font-size: var(--font-size, 1rem);
  text-transform: uppercase;
  line-height: 1;
}
