.tableContainer {
	width: 100%;
	background-color: #fff;
}

.tableWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	&::-webkit-scrollbar {
		width: 0;
	}
}

.tableBodyWrapper {
	overflow-x: hidden;
	width: 100%;
	overflow-y: auto;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 0.375rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 0.1875rem;
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.875rem;
	table-layout: fixed;

	&:first-child {
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-top: 1px solid #dde1e6;
		border-left: 1px solid #dde1e6;
		border-right: 1px solid #dde1e6;
	}

	&:last-child {
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		border-bottom: 1px solid #dde1e6;
		border-left: 1px solid #dde1e6;
		border-right: 1px solid #dde1e6;
	}
}

.tableHead {
	background: #e6f7f8;
	border-bottom: 1px solid #dde1e6;
	position: sticky;
	top: 0;
	z-index: 10;

	tr {
		height: 3rem;
	}
}

.tableHeader {
	padding: 0.5rem 0.75rem;
	text-align: left;
	font-weight: 500;
	white-space: nowrap;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;

	&.sortable {
		cursor: pointer;

		&:hover {
			background: #e0f1f1;
		}
	}
}

.headerContent {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.sortIcon {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	color: var(--primary);
}

.tableRow {
	border-bottom: 1px solid #dde1e6;
	transition: background-color 0.2s;

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		background-color: #f9f9f9;
	}
}

.tableCell {
	padding: 0.5rem 0.75rem;
	vertical-align: middle;
	color: var(--text);
}

.actionsColumn {
	width: 3rem;
	padding: 0;
}

.actionsCell {
	width: 3rem;
	padding: 0;
	text-align: center;
	position: relative;
}

.loadingCell,
.emptyCell {
	padding: 1.5rem;
	text-align: center;
	color: #6b7280;
}

