.main {
	padding: 2.5rem 0 3.75rem;
	margin-bottom: 3.75rem;
	@media (max-width: 899px) {
		padding-top: 1.25rem;
	}
	.container {
		position: relative;
		@media (min-width: 899px) {
			display: none;
		}
	}
}
