.checkboxWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.default {
    --border: #9e9e9e;
    --bg: transparent;
    --icon: #9e9e9e;
  }
  &.color-1 {
    --border: var(--color-1);
    --bg: var(--color-1);
    --icon: var(--white);
  }

  .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--size, 1.5rem);
    min-width: var(--size, 1.5rem);
    max-height: var(--size, 1.5rem);
    min-height: var(--size, 1.5rem);
    border-radius: var(--radius, 0.375rem);
    transition: all 0.2s ease-in-out;
    border: 0.125rem solid transparent;
    cursor: pointer;

    &.checked {
      background-color: var(--bg);
    }

    &:not(.checked) {
      border-color: var(--border);
    }

    .checkboxIcon {
      color: var(--icon);
      width: 100%;
      height: 100%;
    }
  }
}
