.categoriesPage {
  padding: 2.5rem 0 3.75rem;
  margin-bottom: 3.75rem;
  @media (max-width: 500px) {
    padding: 1.5rem 0 2.5rem;
  }
  @media (max-width: 400px) {
    padding: 1rem 0 2rem;
  }
  &:has(.list) .container {
    padding: 0;
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
    margin: 0 0 2rem;
  }
  
  .categoriesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @media (max-width: 75em) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 62em) {
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 0px 0.825rem 0px #00000026;
    transition: transform 0.3s ease;
    width: 100%;
    justify-content: flex-start;
    text-align: center;

    @media (max-width: 899px) {
      box-shadow: none;
      border: 1px solid #cccccc;
      padding: 0.8rem 0.3rem;
    }

    @media (max-width: 400px) {
      border-radius: 0.8rem;
    }

    &:hover {
      transform: translateY(-0.3125rem);
    }
  }
  .imageWrapper {
    --img-size: 8rem;
    max-width: var(--img-size);
    min-width: var(--img-size);
    max-height: var(--img-size);
    min-height: var(--img-size);
    overflow: hidden;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    @media (max-width: 500px) {
      --img-size: 5rem;
      border-radius: 0.8rem;
    }
    @media (max-width: 400px) {
      --img-size: 4rem;
      margin-bottom: 0.7rem;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .categoryName {
    color: var(--primary);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 90%;
    @media (max-width: 500px) {
      font-size: 1rem;
    }
    @media (max-width: 360px) {
      font-size: 0.8rem;
    }
  }
}
