.productCard {
	position: relative;
	border-radius: 1rem;
	padding-top: 2.5rem;
	overflow: hidden;
	background-color: var(--white);
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 0.82rem 0px #00000026;

	@media (max-width: 899px) {
		box-shadow: none;
		border: 1px solid #a2a2a229;
		border-radius: 0.5rem;
	}

	@media (max-width: 500px) {
		padding-top: 1.5rem;
	}

	@media (max-width: 400px) {
		padding-top: 1rem;
	}

	@media (max-width: 560px) {
		.discountedPrice {
			font-size: 0.6rem;
			font-weight: 500;
		}
	}

	.content {
		padding: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.favoriteButton {
		position: absolute;
		top: 0.75rem;
		right: 0.75rem;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 2;
		color: #ccc;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;

		@media (max-width: 500px) {
			top: 0.5rem;
			right: 0.5rem;
			font-size: 25px;
		}
		@media (max-width: 350px) {
			font-size: 22px;
		}

		&.active {
			color: var(--secondary);
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	.productLink {
		text-decoration: none;
		color: inherit;
		display: flex;
		flex-direction: column;
		padding: 1rem 1rem 0;

		@media (max-width: 500px) {
			padding: 0.6rem 0.6rem 0 0.6rem;
		}
		@media (max-width: 350px) {
			padding: 0.5rem 0.5rem 0 0.5rem;
		}
	}

	.productInfo {
		margin-bottom: 1rem;

		@media (max-width: 500px) {
			margin-bottom: 0.5rem;
		}
	}

	.productName {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: 0%;
		color: #3e3e3e;
		margin-top: 0.5rem;

		span {
			display: inline-block;
			color: var(--primary);
			cursor: pointer;
			font-size: 14px;
			font-weight: 500;
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 500px) {
			font-size: 1rem;
			margin-top: 0.2rem;
		}
		@media (max-width: 400px) {
			font-size: 0.7rem;
		}
		@media (max-width: 350px) {
			font-size: 0.6rem;
		}
	}

	.priceRow {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.price {
		font-size: 1.45rem;
		font-weight: 700;
		color: var(--color-2);
		line-height: 1;

		@media (max-width: 500px) {
			font-size: 1rem;
		}
		@media (max-width: 400px) {
			font-size: 0.7rem;
		}
		@media (max-width: 350px) {
			font-size: 0.6rem;
		}
	}

	.weight {
		font-size: 0.875rem;
		color: #868889;

		@media (max-width: 500px) {
			font-size: 0.75rem;
		}
		@media (max-width: 400px) {
			font-size: 0.5rem;
		}
		@media (max-width: 350px) {
			font-size: 0.4rem;
		}
	}

	.addToCartButton {
		--padding: 1.125rem 0;
		--font-size: 0.875rem;
		--line-height: 100%;
		--font-weight: 500;
		margin-top: auto;
		color: var(--white);
		background: linear-gradient(
			92.74deg,
			var(--primary) 0%,
			var(--tertiary) 100%
		);

		@media (max-width: 500px) {
			--padding: 0.65rem 0.4rem;
			--font-size: 0.75rem;
			--line-height: 1;
			--border-radius: 0.6rem;
		}
		@media (max-width: 400px) {
			--padding: 0.6rem 0.4rem;
			--font-size: 0.6rem;
		}
		@media (max-width: 350px) {
			--padding: 0.5rem 0.3rem;
			--font-size: 0.5rem;
			--border-radius: 0.4rem;
		}
	}

	.cartIcon {
		width: 1.25rem;
		height: 1.25rem;
		margin-right: 1rem;
		object-fit: contain;

		@media (max-width: 500px) {
			width: 0.9rem;
			height: 0.9rem;
			margin-right: 0.4rem;
		}
		@media (max-width: 400px) {
			width: 0.6rem;
			height: 0.6rem;
		}
	}
}
