.drawer {
	position: fixed;
	top: 0;
	right: 0;
	height: 100dvh;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
	&.overlay {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.body {
		position: relative;
		width: max-content;
		background-color: var(--white);
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: var(--white);
		padding: 1rem;
		border-bottom: 1px solid #ccc;
	}

	.closeButton {
		stroke: #000;
		svg {
			width: 1.4rem;
			height: 1.4rem;
		}

		@media (max-width: 899px) {
			svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}
}
