.main {
	padding: 1.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	.filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		.datePicker {
			max-width: 444px;
		}
	}
}
